Repository lilka-dev/lilka, pull requests merged in 2024-03, with the labels that each got.

#8 not enough stack, let's use heap instead(sdBrowserMenu)
  firmware/keira/src/apps/launcher.cpp
  sdk/lib/lilka/src/lilka/sdcard.cpp
  sdk/lib/lilka/src/lilka/sdcard.h
Labels: scope:keira, scope:sdk

#12 Add FTP Server app, make app class list cleaner
  Makefile
  docs/keira/custom_apps.rst
  firmware/keira/lib/SimpleFTPServer/library.json
  firmware/keira/lib/SimpleFTPServer/src/FtpServer.cpp
  firmware/keira/lib/SimpleFTPServer/src/FtpServer.h
  firmware/keira/lib/SimpleFTPServer/src/FtpServerKey.h
  firmware/keira/lib/mJS/library.json
  firmware/keira/lib/mJS/src/mjs.c
  firmware/keira/lib/mJS/src/mjs.h
  firmware/keira/platformio.ini
  firmware/keira/src/apps/ftp/ftp_server.cpp
  firmware/keira/src/apps/ftp/ftp_server.h
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/launcher.h
  firmware/keira/src/apps/mjs/mjsrunner.cpp
Labels: scope:docs, wip, scope:keira

#10 Store firmware path when running firmwares from SD card
  docs/keira/features.rst
  docs/keira/lua/reference/lilka.rst
  firmware/doom/src/main.cpp
  firmware/keira/sdcard/counter/counter.lua
  firmware/keira/sdcard/test.lua
  firmware/keira/src/apps/launcher.cpp
  sdk/addons/lualilka/library/lilka.lua
  sdk/addons/lualilka/library/state.lua
  sdk/lib/lilka/src/lilka/multiboot.cpp
  sdk/lib/lilka/src/lilka/multiboot.h
Labels: scope:docs, wip, scope:doom, scope:sdk

#9 WiFi: add minimal functional for wifi for lua scripts
  firmware/keira/sdcard/wifi_test.lua
  firmware/keira/src/apps/lua/lualilka_wifi.cpp
  firmware/keira/src/apps/lua/lualilka_wifi.h
  firmware/keira/src/apps/lua/luarunner.cpp
Labels: scope:keira

#16 keira: add clock service with NTP support, show actual time in status bar
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/statusbar.cpp
  firmware/keira/src/apps/wifi_config.cpp
  firmware/keira/src/main.cpp
  firmware/keira/src/service.h
  firmware/keira/src/servicemanager.h
  firmware/keira/src/services/clock.cpp
  firmware/keira/src/services/clock.h
  firmware/keira/src/services/network.cpp
  firmware/keira/src/services/watchdog.cpp
  sdk/lib/lilka/src/lilka/battery.cpp
Labels: scope:keira

#38 keira: add I2S sound to nesapp, reduce default app/service stack size
  firmware/keira/src/app.cpp
  firmware/keira/src/apps/nes/osd.cpp
  firmware/keira/src/service.cpp
Labels: scope:keira

#40 sdk: add menu item postfix arg (closes #36)
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/ui.h
Labels: scope:sdk

#45 Hardware updates
  docs/assembly/components.rst
  hardware/v2/footprints/Buttons.pretty/SW_PUSH-12mm-fixed-min.kicad_mod
  hardware/v2/footprints/footprints.pretty/Buzzer_Wide.kicad_mod
  hardware/v2/footprints/footprints.pretty/MAX98357-I2S-Module.kicad_mod
  hardware/v2/footprints/footprints.pretty/PCM5102A-I2S-Module.kicad_mod
  hardware/v2/footprints/footprints.pretty/SolderJumperFat.kicad_mod
  hardware/v2/main.kicad_pcb
  hardware/v2/main.kicad_pro
  hardware/v2/main.kicad_sch
  hardware/v2/symbols/connector.kicad_sym
Labels: scope:hardware

#48 A bit of cleaning(keira->icon.h)
  firmware/keira/src/apps/icons/icon.h
Labels: scope:keira

#51 Make lilka::Menu component avaliable for reuse
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/ui.h
Labels: scope:sdk

#54 Add RLE, fix multiboot arg
  Makefile
  docs/library/build_flags.rst
  firmware/doom/src/main.cpp
  firmware/keira/src/keira_splash.h
  firmware/keira/src/main.cpp
  sdk/lib/lilka/src/lilka/default_splash.h
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/lib/lilka/src/lilka/multiboot.cpp
  sdk/tools/image2code/image2code.py
Labels: scope:keira, scope:doom, scope:sdk

#49 Reduce board height to 50mm, improve routing, drop PCM5102
  docs/assembly/components.rst
  hardware/v2/footprints/Buttons.pretty/SW_PUSH-12mm-fixed-min.kicad_mod
  hardware/v2/footprints/footprints.pretty/Buzzer_Wide.kicad_mod
  hardware/v2/footprints/footprints.pretty/MicroSD-Adapter-3v3.kicad_mod
  hardware/v2/main.kicad_pcb
  hardware/v2/main.kicad_pro
  hardware/v2/main.kicad_sch
Labels: scope:hardware

#57 Persist FTP password, change startup sound
  firmware/keira/src/apps/ftp/ftp_server.cpp
  firmware/keira/src/apps/ftp/ftp_server.h
  sdk/lib/lilka/src/lilka/audio.cpp
  sdk/lib/lilka/src/lilka/hi.h
Labels: scope:keira, scope:sdk

#11 Yboichuk/lua/sdcard
  firmware/keira/sdcard/sdcard_test.lua
  firmware/keira/src/apps/lua/lualilka_sdcard.cpp
  firmware/keira/src/apps/lua/lualilka_sdcard.h
  firmware/keira/src/apps/lua/luarunner.cpp
Labels: scope:keira

#46 Fix buildage for lilka v1
  firmware/keira/src/apps/nes/osd.cpp
  sdk/lib/lilka/src/lilka/audio.cpp
Labels: bug, scope:keira, scope:sdk

#56 Add ability to set lilka::Menu title
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/ui.h
Labels: scope:sdk

#53 allow browser in launcher.app to work with different cased extensions
  firmware/keira/src/apps/launcher.cpp
Labels: bug, scope:keira

#47 Yboichuk/lua/draw image transformed
  firmware/keira/sdcard/test_draw_image.lua
  firmware/keira/src/apps/lua/lualilka_display.cpp
  firmware/keira/src/apps/lua/lualilka_imageTransform.cpp
  firmware/keira/src/apps/lua/lualilka_imageTransform.h
  firmware/keira/src/apps/lua/luarunner.cpp
Labels: scope:keira

#59 Set extension header pins to input on startup (closes #50)
  sdk/lib/lilka/src/lilka.cpp
  sdk/lib/lilka/src/lilka.h
  sdk/lib/lilka/src/lilka/config.h
  sdk/lib/lilka/src/lilka/ext.cpp
  sdk/lib/lilka/src/lilka/ext.h
Labels: scope:sdk

#58 keira: do not ask for password when connecting to open network
  firmware/keira/src/apps/icons/wifi_0.h
  firmware/keira/src/apps/icons/wifi_0.png
  firmware/keira/src/apps/icons/wifi_1.h
  firmware/keira/src/apps/icons/wifi_1.png
  firmware/keira/src/apps/icons/wifi_2.h
  firmware/keira/src/apps/icons/wifi_2.png
  firmware/keira/src/apps/icons/wifi_3.png
  firmware/keira/src/apps/wifi_config.cpp
Labels: scope:keira

#70 keira: cube demo, RAM icon fix
  firmware/keira/src/apps/demos/cube.cpp
  firmware/keira/src/apps/demos/cube.h
  firmware/keira/src/apps/icons/ram.h
  firmware/keira/src/apps/icons/ram.png
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/statusbar.cpp
Labels: scope:keira

#69 Precomputed RGB565 Color palette
  firmware/doom/src/main.cpp
  firmware/keira/src/apps/demos/ball.cpp
  firmware/keira/src/apps/demos/disk.cpp
  firmware/keira/src/apps/demos/letris.cpp
  firmware/keira/src/apps/demos/scan_i2c.cpp
  firmware/keira/src/apps/demos/transform.cpp
  firmware/keira/src/apps/demos/user_spi.cpp
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/lua/luarunner.cpp
  firmware/keira/src/apps/nes/driver.cpp
  firmware/keira/src/apps/statusbar.cpp
  firmware/keira/src/apps/wifi_config.cpp
  sdk/lib/lilka/examples/main.cpp
  sdk/lib/lilka/src/lilka/alert.cpp
  sdk/lib/lilka/src/lilka/colors565.h
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/lib/lilka/src/lilka/inputdialog.cpp
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/progressdialog.cpp
  sdk/lib/lilka/src/lilka/resources.h
Labels: scope:sdk

#72 Add `ScreenshotService`, add toasts
  firmware/keira/src/appmanager.cpp
  firmware/keira/src/appmanager.h
  firmware/keira/src/main.cpp
  firmware/keira/src/services/network.cpp
  firmware/keira/src/services/network.h
  firmware/keira/src/services/screenshot.cpp
  firmware/keira/src/services/screenshot.h
  sdk/lib/lilka/src/lilka/controller.cpp
  sdk/lib/lilka/src/lilka/controller.h
Labels: scope:keira, scope:sdk

#68 Added lilka hostname autogeneration
  firmware/keira/src/services/network.cpp
  firmware/keira/src/services/network.h
Labels: enhancement, scope:keira

#64 Page_Up Page_Down for lilka::menu
  sdk/lib/lilka/src/lilka/menu.cpp
Labels: enhancement, scope:sdk

#78 sdk: prevent I2S from stealing pins (closes #74 & #75)
  firmware/keira/src/apps/nes/osd.cpp
  sdk/lib/lilka/src/lilka/audio.cpp
Labels: scope:keira, scope:sdk

#73 Doom sound
  firmware/doom/lib/doomgeneric/src/d_alloc.c
  firmware/doom/lib/doomgeneric/src/d_alloc.h
  firmware/doom/lib/doomgeneric/src/doomfeatures.h
  firmware/doom/lib/doomgeneric/src/i_sound.c
  firmware/doom/lib/doomgeneric/src/i_swap.h
  firmware/doom/lib/doomgeneric/src/i_system.c
  firmware/doom/lib/doomgeneric/src/r_main.c
  firmware/doom/lib/doomgeneric/src/r_plane.c
  firmware/doom/lib/doomgeneric/src/r_things.c
  firmware/doom/src/i_buzzersound.cpp
  firmware/doom/src/i_defaultmusic.cpp
  firmware/doom/src/i_i2ssound.cpp
  firmware/doom/src/i_nosound.cpp
  firmware/doom/src/main.cpp
  sdk/lib/lilka/src/lilka/buzzer.h
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/multiboot.cpp
Labels: scope:doom, scope:sdk

#83 Tamagotchi!
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/tamagotchi/LICENSE
  firmware/keira/src/apps/tamagotchi/README.md
  firmware/keira/src/apps/tamagotchi/bitmaps.h
  firmware/keira/src/apps/tamagotchi/cpu.c
  firmware/keira/src/apps/tamagotchi/cpu.h
  firmware/keira/src/apps/tamagotchi/hal.h
  firmware/keira/src/apps/tamagotchi/hal_types.h
  firmware/keira/src/apps/tamagotchi/hardcoded_state.h
  firmware/keira/src/apps/tamagotchi/hw.c
  firmware/keira/src/apps/tamagotchi/hw.h
  firmware/keira/src/apps/tamagotchi/rom_12bit.h
  firmware/keira/src/apps/tamagotchi/savestate.cpp
  firmware/keira/src/apps/tamagotchi/savestate.h
  firmware/keira/src/apps/tamagotchi/tamagotchi.cpp
  firmware/keira/src/apps/tamagotchi/tamagotchi.h
  firmware/keira/src/apps/tamagotchi/tamalib.c
  firmware/keira/src/apps/tamagotchi/tamalib.h
Labels: scope:keira

#87 Retrieve information for WiFi network C activation button
  firmware/keira/src/apps/wifi_config.cpp
  firmware/keira/src/apps/wifi_config.h
Labels: scope:keira

#86 Low-level SD card formatting for brand new or corrupted cards
  firmware/keira/src/apps/launcher.cpp
Labels: scope:keira

#89 Backlight control, board improvements
  firmware/keira/src/apps/launcher.cpp
  hardware/v2/main.kicad_pcb
  hardware/v2/main.kicad_pro
  hardware/v2/main.kicad_sch
  hardware/v2/sym-lib-table
  hardware/v2/symbols/regulators.kicad_sym
  sdk/lib/lilka/src/lilka/battery.cpp
  sdk/lib/lilka/src/lilka/config.h
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/lib/lilka/src/lilka/ext.cpp
Labels: scope:hardware

#90 Add `Board` class, refactor power saving code, fix Doom sound lags, increase SD card speed to 25 MHz
  docs/library/board.rst
  docs/library/index.rst
  firmware/doom/src/i_i2ssound.cpp
  firmware/keira/src/apps/launcher.cpp
  sdk/lib/lilka/src/lilka.cpp
  sdk/lib/lilka/src/lilka.h
  sdk/lib/lilka/src/lilka/board.cpp
  sdk/lib/lilka/src/lilka/board.h
  sdk/lib/lilka/src/lilka/config.h
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/lib/lilka/src/lilka/ext.cpp
  sdk/lib/lilka/src/lilka/ext.h
  sdk/lib/lilka/src/lilka/sdcard.cpp
Labels: scope:doom, scope:sdk
