Repository lilka-dev/lilka, pull requests merged in 2024-12, with the labels that each got.

#135 Reorder display/sd initialization
  sdk/lib/lilka/src/lilka.cpp
Labels: test

#137 Using PNG
  Makefile
  firmware/keira/platformio.ini
  firmware/keira/src/services/screenshot.cpp
  firmware/keira/src/services/screenshot.h
  sdk/lib/LodePNG/library.json
  sdk/lib/LodePNG/src/lodepng.cpp
  sdk/lib/LodePNG/src/lodepng.h
  sdk/lib/lilka/src/lilka/resources.cpp
  sdk/lib/lilka/src/lilka/resources.h
Labels: enhancement, scope:keira, scope:sdk

#144 do not recreate canvas each screenshot
  firmware/keira/src/services/screenshot.cpp
Labels: enhancement, scope:keira

#138 File manager rework
  firmware/keira/src/apps/fmanager.cpp
  firmware/keira/src/apps/fmanager.h
  firmware/keira/src/apps/launcher.cpp
  sdk/lib/lilka/src/lilka/fileutils.cpp
  sdk/lib/lilka/src/lilka/fileutils.h
Labels: enhancement, scope:keira, scope:sdk

#160 StatusBarApp: show free RAM as number
  firmware/keira/src/apps/statusbar.cpp
Labels: enhancement, scope:keira

#166 WiFi tx power change option in settings, autoload from nvs
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/launcher.h
  firmware/keira/src/services/network.cpp
  firmware/keira/src/services/network.h
Labels: enhancement, scope:keira

#167 Fit new buttons agenda, where B means Back. D - pin mode, A - value
  firmware/keira/src/apps/gpiomanager.cpp
Labels: scope:keira

#168 Added ability to remove activation buttons from menu in runtime
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/ui.h
Labels: enhancement, scope:sdk

#170 fix: ignore any .vscode files
  .gitignore
Labels: bug

#173 B as Back button in Networks list
  firmware/keira/src/apps/wifi_config.cpp
Labels: bug

#174 Yboichuk/feat/ble
  firmware/keira/.gitignore
  firmware/keira/platformio.ini
  firmware/keira/src/main.cpp
  firmware/keira/src/services/KeiraBLEService.cpp
  firmware/keira/src/services/KeiraBLEService.h
  sdk/lib/lilka/platformio.ini
  sdk/lib/lilka/src/lilka.cpp
  sdk/lib/lilka/src/lilka.h
  sdk/lib/lilka/src/lilka/ble_server.cpp
  sdk/lib/lilka/src/lilka/ble_server.h
Labels: scope:keira, scope:sdk

#165 Updates to FileManager
  firmware/keira/src/apps/fmanager.cpp
  firmware/keira/src/apps/fmanager.h
  sdk/lib/lilka/src/lilka/fileutils.cpp
  sdk/lib/lilka/src/lilka/spi.cpp
Labels: enhancement, scope:keira, test

#163 Add some delay in all ui updates
  sdk/lib/lilka/src/lilka/alert.cpp
  sdk/lib/lilka/src/lilka/inputdialog.cpp
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/ui.h
Labels: enhancement, scope:sdk

#172 Reimplementation of sound settings
  firmware/keira/src/apps/settings/sound.cpp
  firmware/keira/src/apps/settings/sound.h
Labels: enhancement, scope:keira

#176 remove: remove old gamepad app
  firmware/keira/platformio.ini
  firmware/keira/src/apps/ble_gamepad/app.cpp
  firmware/keira/src/apps/ble_gamepad/app.h
  firmware/keira/src/apps/ble_gamepad/controller.cpp
  firmware/keira/src/apps/ble_gamepad/controller.h
  firmware/keira/src/apps/ble_gamepad/defines.h
  firmware/keira/src/apps/ble_gamepad/fps.cpp
  firmware/keira/src/apps/ble_gamepad/fps.h
  firmware/keira/src/apps/ble_gamepad/timer.cpp
  firmware/keira/src/apps/ble_gamepad/timer.h
  firmware/keira/src/apps/ble_gamepad/ui.cpp
  firmware/keira/src/apps/ble_gamepad/ui.h
  firmware/keira/src/apps/launcher.cpp
  sdk/lib/lilka/library.json
Labels: bug, wontfix, wip, scope:keira
