Repository lilka-dev/lilka, pull requests merged in 2024-04, with the labels that each got.

#91 Weather app
  .editorconfig
  firmware/doom/.gitignore
  firmware/keira/data/.gitignore
  firmware/keira/platformio.ini
  firmware/keira/src/.gitattributes
  firmware/keira/src/app.cpp
  firmware/keira/src/app.h
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/weather/icons/Makefile
  firmware/keira/src/apps/weather/icons/broken-clouds-d.h
  firmware/keira/src/apps/weather/icons/broken-clouds-d.png
  firmware/keira/src/apps/weather/icons/broken-clouds-n.h
  firmware/keira/src/apps/weather/icons/broken-clouds-n.png
  firmware/keira/src/apps/weather/icons/clear-d.h
  firmware/keira/src/apps/weather/icons/clear-d.png
  firmware/keira/src/apps/weather/icons/clear-n.h
  firmware/keira/src/apps/weather/icons/clear-n.png
  firmware/keira/src/apps/weather/icons/few-clouds-d.h
  firmware/keira/src/apps/weather/icons/few-clouds-d.png
  firmware/keira/src/apps/weather/icons/few-clouds-n.h
  firmware/keira/src/apps/weather/icons/few-clouds-n.png
  firmware/keira/src/apps/weather/icons/mist-d.h
  firmware/keira/src/apps/weather/icons/mist-d.png
  firmware/keira/src/apps/weather/icons/mist-n.h
  firmware/keira/src/apps/weather/icons/mist-n.png
  firmware/keira/src/apps/weather/icons/rain-d.h
  firmware/keira/src/apps/weather/icons/rain-d.png
  firmware/keira/src/apps/weather/icons/rain-n.h
  firmware/keira/src/apps/weather/icons/rain-n.png
  firmware/keira/src/apps/weather/icons/scattered-clouds-d.h
  firmware/keira/src/apps/weather/icons/scattered-clouds-d.png
  firmware/keira/src/apps/weather/icons/scattered-clouds-n.h
  firmware/keira/src/apps/weather/icons/scattered-clouds-n.png
  firmware/keira/src/apps/weather/icons/shower-rain-d.h
  firmware/keira/src/apps/weather/icons/shower-rain-d.png
  firmware/keira/src/apps/weather/icons/shower-rain-n.h
  firmware/keira/src/apps/weather/icons/shower-rain-n.png
  firmware/keira/src/apps/weather/icons/snow-d.h
  firmware/keira/src/apps/weather/icons/snow-d.png
  firmware/keira/src/apps/weather/icons/snow-n.h
  firmware/keira/src/apps/weather/icons/snow-n.png
  firmware/keira/src/apps/weather/icons/thunderstorm-d.h
  firmware/keira/src/apps/weather/icons/thunderstorm-d.png
  firmware/keira/src/apps/weather/icons/thunderstorm-n.h
  firmware/keira/src/apps/weather/icons/thunderstorm-n.png
  firmware/keira/src/apps/weather/icons/weather_icons.h
  firmware/keira/src/apps/weather/weather.cpp
  firmware/keira/src/apps/weather/weather.h
  firmware/keira/src/utils/defer.h
  firmware/keira/src/utils/json.cpp
  firmware/keira/src/utils/json.h
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/tools/image2code/image2code.py
Labels: enhancement, wip, scope:keira

#88 Add marquee to long menu items, prevent menu title overflow
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/ui.h
Labels: scope:sdk

#84 Single FileSystem class
  docs/library/fileutils.rst
  docs/library/index.rst
  firmware/doom/src/main.cpp
  firmware/keira/src/apps/ftp/ftp_server.cpp
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/launcher.h
  firmware/keira/src/apps/lua/lualilka_sdcard.cpp
  firmware/keira/src/apps/lua/lualilka_sdcard.h
  firmware/keira/src/apps/lua/luarunner.cpp
  firmware/keira/src/main.cpp
  sdk/lib/lilka/examples/main.cpp
  sdk/lib/lilka/src/lilka.cpp
  sdk/lib/lilka/src/lilka.h
  sdk/lib/lilka/src/lilka/buzzer.h
  sdk/lib/lilka/src/lilka/filesystem.cpp
  sdk/lib/lilka/src/lilka/filesystem.h
  sdk/lib/lilka/src/lilka/fileutils.cpp
  sdk/lib/lilka/src/lilka/fileutils.h
  sdk/lib/lilka/src/lilka/multiboot.cpp
  sdk/lib/lilka/src/lilka/multiboot.h
  sdk/lib/lilka/src/lilka/sdcard.cpp
  sdk/lib/lilka/src/lilka/sdcard.h
Labels: scope:keira, scope:sdk

#96 SDK fixes
  .github/workflows/code-quality.yml
  Makefile
  firmware/doom/src/i_i2ssound.cpp
  firmware/keira/src/app.cpp
  firmware/keira/src/app.h
  firmware/keira/src/appmanager.cpp
  sdk/lib/lilka/src/lilka/audio.cpp
  sdk/lib/lilka/src/lilka/audio.h
  sdk/lib/lilka/src/lilka/buzzer.cpp
  sdk/lib/lilka/src/lilka/controller.cpp
  sdk/lib/lilka/src/lilka/controller.h
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/lib/lilka/src/lilka/serial.cpp
Labels: scope:keira, scope:sdk

#95 LilTracker
  docs/about/index.rst
  docs/library/display.rst
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/liltracker/config.h
  firmware/keira/src/apps/liltracker/effects.cpp
  firmware/keira/src/apps/liltracker/effects.h
  firmware/keira/src/apps/liltracker/liltracker.cpp
  firmware/keira/src/apps/liltracker/liltracker.h
  firmware/keira/src/apps/liltracker/mixer.cpp
  firmware/keira/src/apps/liltracker/mixer.h
  firmware/keira/src/apps/liltracker/note.cpp
  firmware/keira/src/apps/liltracker/note.h
  firmware/keira/src/apps/liltracker/pattern.cpp
  firmware/keira/src/apps/liltracker/pattern.h
  firmware/keira/src/apps/liltracker/rand.cpp
  firmware/keira/src/apps/liltracker/rand.h
  firmware/keira/src/apps/liltracker/sequencer.cpp
  firmware/keira/src/apps/liltracker/sequencer.h
  firmware/keira/src/apps/liltracker/track.cpp
  firmware/keira/src/apps/liltracker/track.h
  firmware/keira/src/apps/liltracker/waveforms.cpp
  firmware/keira/src/apps/liltracker/waveforms.h
  firmware/keira/src/apps/nes/osd.cpp
  firmware/keira/src/servicemanager.cpp
  firmware/keira/src/servicemanager.h
  firmware/keira/src/services/network.cpp
  sdk/lib/lilka/src/lilka/display.cpp
  sdk/lib/lilka/src/lilka/display.h
  sdk/lib/lilka/src/lilka/inputdialog.cpp
  sdk/lib/lilka/src/lilka/menu.cpp
  sdk/lib/lilka/src/lilka/ui.h
Labels: wip, scope:keira

#102 LilTracker: allow to set waveform in any event (SID 6581/8580 feature)
  Makefile
  firmware/keira/src/.gitattributes
  firmware/keira/src/apps/icons/.gitattributes
  firmware/keira/src/apps/liltracker/effects.h
  firmware/keira/src/apps/liltracker/icons/.gitattributes
  firmware/keira/src/apps/liltracker/icons/LilTrackerIcons.bdf
  firmware/keira/src/apps/liltracker/icons/LilTrackerIcons.fon
  firmware/keira/src/apps/liltracker/icons/Makefile
  firmware/keira/src/apps/liltracker/icons/README.md
  firmware/keira/src/apps/liltracker/icons/bdfconv
  firmware/keira/src/apps/liltracker/icons/liltracker_icons.h
  firmware/keira/src/apps/liltracker/icons/noi.h
  firmware/keira/src/apps/liltracker/icons/noi.png
  firmware/keira/src/apps/liltracker/icons/saw.h
  firmware/keira/src/apps/liltracker/icons/saw.png
  firmware/keira/src/apps/liltracker/icons/sin.h
  firmware/keira/src/apps/liltracker/icons/sin.png
  firmware/keira/src/apps/liltracker/icons/sqr.h
  firmware/keira/src/apps/liltracker/icons/sqr.png
  firmware/keira/src/apps/liltracker/icons/tri.h
  firmware/keira/src/apps/liltracker/icons/tri.png
  firmware/keira/src/apps/liltracker/liltracker.cpp
  firmware/keira/src/apps/liltracker/mixer.cpp
  firmware/keira/src/apps/liltracker/mixer.h
  firmware/keira/src/apps/liltracker/pattern.cpp
  firmware/keira/src/apps/liltracker/pattern.h
  firmware/keira/src/apps/liltracker/sequencer.cpp
  firmware/keira/src/apps/liltracker/track.cpp
  firmware/keira/src/apps/liltracker/waveforms.h
  firmware/keira/src/apps/weather/icons/.gitattributes
Labels: scope:keira

#101 sdk: add Controller::setAutoRepeat
  firmware/keira/src/apps/launcher.cpp
  sdk/lib/lilka/src/lilka/controller.cpp
  sdk/lib/lilka/src/lilka/controller.h
Labels: scope:sdk

#103 Audio tweaks
  docs/library/build_flags.rst
  firmware/keira/src/apps/liltracker/effects.cpp
  firmware/keira/src/apps/liltracker/liltracker.cpp
  firmware/keira/src/apps/liltracker/liltracker.h
  firmware/keira/src/apps/liltracker/note.cpp
  firmware/keira/src/apps/liltracker/pattern.cpp
  firmware/keira/src/apps/liltracker/sequencer.cpp
  firmware/keira/src/apps/liltracker/track.cpp
  sdk/lib/lilka/src/lilka/audio.cpp
  sdk/lib/lilka/src/lilka/buzzer.cpp
Labels: scope:docs, scope:keira, scope:sdk

#105 LilTracker synth refactoring
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/apps/liltracker/i2s_sink.cpp
  firmware/keira/src/apps/liltracker/i2s_sink.h
  firmware/keira/src/apps/liltracker/liltracker.cpp
  firmware/keira/src/apps/liltracker/liltracker.h
  firmware/keira/src/apps/liltracker/mixer.cpp
  firmware/keira/src/apps/liltracker/mixer.h
  firmware/keira/src/apps/liltracker/null_sink.cpp
  firmware/keira/src/apps/liltracker/null_sink.h
  firmware/keira/src/apps/liltracker/sequencer.cpp
  firmware/keira/src/apps/liltracker/sequencer.h
  firmware/keira/src/apps/liltracker/sink.h
  firmware/keira/src/apps/liltracker/synth.cpp
  firmware/keira/src/apps/liltracker/synth.h
  firmware/keira/src/apps/liltracker/wav_sink.cpp
  firmware/keira/src/apps/liltracker/wav_sink.h
Labels: scope:keira

#106 Simple Telnet server
  firmware/keira/platformio.ini
  firmware/keira/src/apps/launcher.cpp
  firmware/keira/src/main.cpp
  firmware/keira/src/service.cpp
  firmware/keira/src/services/network.cpp
  firmware/keira/src/services/network.h
  firmware/keira/src/services/telnet.cpp
  firmware/keira/src/services/telnet.h
  sdk/lib/lilka/src/lilka/fileutils.cpp
  sdk/lib/lilka/src/lilka/fileutils.h
Labels: scope:keira

#110 Doc updates
  .readthedocs.yaml
  docs/_static/extra_style.css
  docs/keira/flashing.rst
  docs/programming/custom_firmware.rst
  docs/programming/development.rst
  docs/programming/images/custom_firmware/01_pio_new_proj.png
  docs/programming/images/custom_firmware/02_pio_new_proj_2.png
  docs/programming/images/custom_firmware/03_pio_new_proj_sel_lilka.png
  docs/programming/images/custom_firmware/04_project_ready.png
  docs/programming/images/custom_firmware/05_install_lilka_lib.png
  docs/programming/images/custom_firmware/06_install_lilka_lib.png
  docs/programming/images/custom_firmware/07_install_lilka_lib.png
  docs/programming/images/custom_firmware/08_lilka_lib_installed.png
  docs/programming/images/custom_firmware/09_lilka_begin.png
  docs/programming/images/custom_firmware/10_simple_program.png
  docs/programming/images/custom_firmware/11_start_build.png
  docs/programming/images/custom_firmware/12_compiling.png
  docs/programming/index.rst
  docs/programming/keira.rst
Labels: scope:docs

#109 Add H5 & H6, move power switch up 0.05"
  hardware/v2/main.kicad_pcb
  hardware/v2/main.kicad_pro
  hardware/v2/main.kicad_sch
Labels: scope:hardware
